[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
starlette = "*"
groq = "*"
python-dotenv = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
